.index-title {
    color: rgba(0, 0, 0, .84);
    margin-top: 20px;
}

.index-sub {
    color: rgba(0, 0, 0, .54);
}

.index-text {
    margin-top: 20px;
    color: rgba(0, 0, 0, .44);
}

.index-image {
    width: 400px;
}

.social-icon {
    color: rgba(0, 0, 0, .44);
    font-size: 1.5rem;
}

.clock {
    margin-left: 25px;
}

.jumbotron.fortags a {
    background: #4361EE !important;
}

.jumbotron.fortags a:hover {
    background: #3a0ca3!important;
}

.error {
    text-align: center !important;
}

@media(min-width: 769px) {
    .md-nopad-right {
        padding-right: 0px !important;
    }
    .md-nopad-left {
        padding-left: 0px !important;
    }
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
    /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft'] {
    float: left;
    margin: 0.7rem;
    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright'] {
    float: right;
    margin: 0.7rem;
    /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}