{{ define "header"}} {{- partial "_shared/navbar.html" . -}} {{ end }} {{ define "main" }}
<div class="main-content">
    <header class="text-center">
        {{ with .Params.picture }}
        <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image"> {{ end }}
        <h1 class="index-title">{{ .Params.title }}</h1>
    </header>

    <section class="text-center">
        {{ with .Params.subtitle }}
        <h3 class="index-sub">{{ . }}</h3>
        {{ end }} {{ .Content }}
    </section>
</div>
{{- partial "_shared/social.html" . -}} {{ if isset .Params "alertbar" }} {{ if .Params.alertbar }} {{- partial "_shared/alertbar.html" . -}} {{ end }} {{ end }} {{end}} {{ define "footer" }} {{- partial "_shared/footer.html" . -}} {{end}}