<head>
    <meta charset="utf-8">
    {{ if eq .Site.Params.csp.enabled "true" }} {{- partial "_shared/csp.html" . -}} {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, user-scalable=yes, maximum-scale=5"> {{ hugo.Generator }} {{ with .Site.Params.logo }}
    <link rel="icon" href="{{ . | urlize | relURL }}"> {{ end }}
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    {{ with .Site.Params.meta.description }}
    <meta name="description" content="{{ . }}">{{ end }} {{ with .Site.Params.meta.keywords }}
    <meta name="keywords" content="{{ . }}">{{ end }} {{ template "_internal/twitter_cards.html" . }} {{ template "_internal/opengraph.html" . }} {{ template "_internal/google_analytics.html" . }} {{ with .OutputFormats.Get "rss" -}} {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
    <link rel="preload" as="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" as="style" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" onload="this.onload=null;this.rel='stylesheet'">
    <link href="https://fonts.googleapis.com/css?family=Roboto%7CRighteous%7CMerriweather:300,300i,400,400i,700,700i&display=swap">
    <link rel="preload" as="style" href="{{ " /css/medium.css " | urlize | relURL }}" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ " /css/additional.css " | urlize | relURL }}">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)"  content="black">
    <link rel="apple-touch-icon" href="appicons/apple-touch-icon-iphone-retina-120x120.png">
</head>