<section class="text-center">
    {{ with .Site.Params.social.github }}
    <a href="https://github.com/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-github social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.gitlab }}
    <a href="https://gitlab.com/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-gitlab social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.linkedin }}
    <a href="https://linkedin.com/in/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-linkedin social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.xing }}
    <a href="https://www.xing.com/profile/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-xing social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.medium }}
    <a href="https://www.medium.com/@{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-medium social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.twitter }}
    <a href="https://twitter.com/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-twitter social-icon" aria-hidden="true"></i></a> {{ end }} {{ with .Site.Params.social.instagram }}
    <a href="https://www.instagram.com/{{.}}" target="_blank" rel="noreferrer"><i class="fab fa-instagram social-icon" aria-hidden="true"></i></a> {{ end }}
</section>